@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    .header {
        background-color: #007bff;
    }
    
    .header h1 {
        font-size: 3rem;
    }
    
    .header p {
        font-size: 1.5rem;
    }
    
    .section {
        padding: 50px 0;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    ul li {
        margin-bottom: 10px;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .form-control {
        margin-bottom: 15px;
    }
    
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    
    footer {
        color: #fff;
        background-color: #343a40;
        text-align: center;
        padding: 20px 0;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        bottom: 6px;
      }
        
      .dropdown .dropbtn {
        position: relative;
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        right: 17px;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown-content a {
        float: none;
        color: white;
        padding: 5px 5px;
        text-decoration: none;
        display: block;
        margin: 0;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
    
      .nav-item {
        position: relative;
        padding-left: 40px;
        left: 11px;
    }
    
    .logo img {
        position: relative;
        right: 10px;
        bottom: 1px;
        top: 20px;
    }
    
    .navbar-brand-title {
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        bottom: 5px;
        right: 8px;
    }
    
    .navbar-brand {
        position: relative;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        top: 30px;
        right: 240px;
    }
}


@media (min-width: 1200px) {
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    .header {
        background-color: #007bff;
    }
    
    .header h1 {
        font-size: 3rem;
    }
    
    .header p {
        font-size: 1.5rem;
    }
    
    .section {
        padding: 50px 0;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    ul li {
        margin-bottom: 10px;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .form-control {
        margin-bottom: 15px;
    }
    
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    
    footer {
        color: #fff;
        background-color: #343a40;
        text-align: center;
        padding: 20px 0;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        bottom: 6px;
      }
        
      .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown-content a {
        float: none;
        color: white;
        padding: 5px 5px;
        text-decoration: none;
        display: block;
        margin: 0;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
    
      .nav-item {
        position: relative;
        padding-left: 40px;
        left: 11px;
    }
    
    .logo img {
        position: relative;
        right: 80px;
        bottom: 1px;
    }
    
    .navbar-brand-title {
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        bottom: 5px;
        right: 8px;
    }
    
    .navbar-brand {
        position: relative;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        top: 10px;
        right: 150px;
    }
}