@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        font-family: 'Roboto', sans-serif;
    }

    .navbar {
        background-color: #333;
    }

    .navbar-brand {
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        top: 10px;
        right: 8px;
    }

    .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar-nav .nav-link:hover {
        color: #007bff;
    }

    .services,
    #success-stories {
        padding: 50px 0;
    }

    .card {
        margin-bottom: 30px;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .bg-light {
        padding: 50px 0;
    }

    #contact {
        padding: 50px 0;
    }

    .form-control {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    footer {
        color: #fff;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        bottom: 6px;
    }
        
    .dropdown .dropbtn {
        position: relative;
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        right: 17px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown-content a {
        float: none;
        color: white;
        padding: 5px 5px;
        text-decoration: none;
        display: block;
        margin: 0;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    
    .nav-item {
        position: relative;
        padding-left: 40px;
        left: 11px;
    }

    .logo img {
        position: relative;
        left: 80px;
        bottom: 40px;
    }

    .col-md-6 .card {
        height: 525px;
    }

    .bg-light {
        margin-top: 0;
        padding-top: 0;
    }

    .bg-light .container img {
        position: relative;
        bottom: 10px;
        top: 0.01px;
    }

    .col-md-6 .card img {
        height: 350px;
    }


    .col-md-4 .card {
        height: 450px;
    }

    .col-md-4 .card img {
        width: 508px;
        height: 290px;
    }

    .navbar-brand-title {
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        bottom: 5px;
        right: 8px;
    }
}


@media (min-width: 1200px) {
    body {
        font-family: 'Roboto', sans-serif;
    }

    .navbar {
        background-color: #333;
    }

    .navbar-brand {
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        top: 10px;
        right: 8px;
    }

    .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar-nav .nav-link:hover {
        color: #007bff;
    }

    .services,
    #success-stories {
        padding: 50px 0;
    }

    .card {
        margin-bottom: 30px;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .bg-light {
        padding: 50px 0;
    }

    #contact {
        padding: 50px 0;
    }

    .form-control {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    footer {
        color: #fff;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        bottom: 6px;
    }
        
    .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown-content a {
        float: none;
        color: white;
        padding: 5px 5px;
        text-decoration: none;
        display: block;
        margin: 0;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    
    .nav-item {
        position: relative;
        padding-left: 40px;
        left: 11px;
    }

    .logo img {
        position: relative;
        left: 80px;
        bottom: 40px;
    }

    .col-md-6 .card {
        height: 525px;
    }

    .bg-light {
        margin-top: 0;
        padding-top: 0;
    }

    .bg-light .container img {
        position: relative;
        bottom: 10px;
        top: 0.01px;
    }

    .col-md-6 .card img {
        height: 350px;
    }


    .col-md-4 .card {
        height: 450px;
    }

    .col-md-4 .card img {
        width: 348px;
        height: 250px;
    }

    .navbar-brand-title {
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        bottom: 5px;
        right: 8px;
    }
}